.menu {
    padding: 70px 0 75px;

    h2 {
        text-align: center;
    }

    &__intro {
        max-width: 565px;
        margin: 0 auto;
        text-align: center;
    }
}

.tabs__container {
    margin: 45px auto 55px;
    position: relative;
    height: 60px;
    max-width: $container;
    overflow-y: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 8px;
        background: $tabs;
    }

    &::-webkit-scrollbar-thumb {
        background: $yellow;
    }
}

.tabs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include flex(center, center);
    flex-wrap: nowrap;

    &__item {
        min-width: 163px;
        cursor: pointer;
        padding: 0 10px;
        transition: 0.3s;
        font-size: 12px;
        font-weight: 700;
        color: $tabs;
        height: 47px;
        text-transform: uppercase;
        @include flex(center, center);
        border-right: 1px solid $tabs-opacity;

        &:hover,
        &.active {
            background: $yellow;
        }

        &:last-child {
            border: none;
        }
    }

    &.overflow {
        left: 0;
        transform: none;
    }
}

.menu__sliders {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    height: 460px;
}

.menu__slider {
    height: 100%;
}

.menu__slider-block {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 1s;

    &.show {
        opacity: 1;
        z-index: 2;
    }
}

.menu__item {
    max-width: 510px;
    @include flex(space-between, center);

    &-img {
        width: 260px;
        height: 170px;
        object-fit: cover;
        border: 6px solid $yellow;
    }

    &-text {
        max-width: 220px;
        margin-left: 25px;
    }
}

.menu__title,
.menu__price {
    font-family: $kurale;
    text-transform: uppercase;
    font-size: 18px;
    color: $tabs;
    font-weight: 400;
}

.menu__title {
    display: inline-block;
    border-bottom: 1px solid $tabs;
}

.menu__desc {
    font-size: 12px;
    line-height: 14px;
    color: $gray-opacity;
    margin-top: 24px;
}

.menu__slider .swiper-slide {
    height: 175px;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
}

.menu__pagination {
    @include flex(center, center);
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $gray-opacity;
        cursor: pointer;
        margin: 0 10px;
        transition: 0.3s;

        &:hover,
        &-active {
            background: $yellow;
        }
    }
}